<% content_for :title, "Rooms" %>

<div class="container">
  <% if notice %>
    <div class="notification success"><%= notice %></div>
  <% end %>

  <div class="header">
    <h1>Rooms</h1>
    <%= link_to "New room", new_room_path, class: "button" %>
  </div>

  <div class="rooms-list" id="rooms">
    <% @rooms.each do |room| %>
      <div class="room-card">
        <div class="room-card-content">
          <h3><%= room.name %></h3>
          <p><%= room.description %></p>
          <%= link_to "Join room", room, class: "button" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
